.stepBox{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.stepBox .item{
	flex: 1;
	position: relative;
	display: inline-block;
	text-align: left;
	padding-left: 20px;
    box-sizing: border-box;
}
.stepBox .item:last-child{
	flex: none;
}
.stepBox .item .top{
	overflow: hidden;
}
.stepBox .item .state{
	display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid;
    text-align: center;
    line-height: 32px;
    font-style: normal;
}
.stepBox .item .title{
	position: relative;
	vertical-align: middle;
	font-size: 16px;
	margin-left: 6px;
}
.stepBox .item .title:after{
	position: absolute;
	left: 100%;
	top: 50%;
    margin-top: 1px;
    margin-left: 20px;
	display: block;
	content: '';
	height: 2px;
	width: 2000px;
	background-color: #e8e8e8;
}
.stepBox .item:last-child .title:after{
	display: none;
}
.stepBox .item .desc{
	padding-left: 44px;
	font-size: 14px;
}

/* finish */
.stepBox .item.finish .state{
	border-color: #1890ff;
	background-image: url(./img/done.png);
	background-size: 100% 100%;
    background-repeat: no-repeat;
}
.stepBox .item.finish .state .order{
	display: none;
}
.stepBox .item.finish .title{
	color: rgba(0,0,0,.65);
}
.stepBox .item.finish .desc{
	color: rgba(0,0,0,.45);
}
.stepBox .item.finish .title:after{
	background-color: #1890ff;
}

/* process */
.stepBox .item.process .state{
	border-color: #1890ff;
	background-color: #1890ff;
}
.stepBox .item.process .state .order{
	color: #fff;
}
.stepBox .item.process .title{
	color: rgba(0,0,0,.85);
	font-weight: bolder;
}
.stepBox .item.process .desc{
	color: rgba(0,0,0,.65);
}

/* wait */
.stepBox .item.wait .state{
	border-color: rgba(0,0,0,.25);
}
.stepBox .item.wait .state .order{
	color: rgba(0,0,0,.25);
}
.stepBox .item.wait .title{
	color: rgba(0,0,0,.45);
}
.stepBox .item.wait .desc{
	color: rgba(0,0,0,.45);
}